[submodule "uKal"]
	path = nanoBrain/cppSolution/uKal
	url = git@github.com:SargisYonan/uKal.git

[submodule "uLAPack"]
	path =  nanoBrain/cppSolution/uKal/src/uLAPack
	url = https://github.com/SargisYonan/uLAPack.git

