[submodule "uKal"]
	path = nanoBrain/cppSolution/uKal
	url = git@github.com:Stamic-kk/uKal.git

[submodule "uLAPack"]
	path =  nanoBrain/cppSolution/uKal/src/uLAPack
	url = git@github.com:Stamic-kk/uLAPack.git

